
.button {
    margin-top: 20px;
    background-color: lightgray;
    color: #da2822;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  .buttonBlue {
    background-color: blue;
    color: white;
  }
  


  .change{
    background-color: blueviolet;
    color: white;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px red double;
  }



  /* channge color of text in paragrahp */

  /* ChangeText.module.css */

.textBlack {
    color: black;
  }
  
  .textRed {
    color: blue;
  }
  
  .button {
    padding: 10px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
  }
  